.header {
    width: 100%;
    height: 48px;
    background-color: var(--header-bg);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* Profile on right */
    padding: 0 24px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}

.profileContainer {
    display: flex;
    align-items: center;
    gap: 16px;
}

.profileAvatar {
    width: 24px;
    height: 24px;
    background-color: #FF9255;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-roboto);
    font-weight: 600;
    font-size: 12px;
    color: white;
}